.container {
  background-color: #ff4448;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleImage {
  height: 50vh;
  width: 100vw;
  object-fit: contain;
}

.titleContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.title {
  font-size: 10vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.button {
  text-decoration: none;
}
