.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}

.form {
  background-color: whitesmoke;
  min-height: 300px;
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
}
